<dialog #dialog class="modal-dialog">
  <form class="modern-form" (submit)="onLogin($event)">
    <div class="modal-header">
      <h3>Sign in</h3>
      <button class="close-btn" (click)="close()" type="button" title="Close">&times;</button>
    </div>
    <div>
      Sign in using one of the methods below to start creating private boards.
    </div>
    <div class="social-login-container">
      <button type="button" class="social-btn" (click)="loginWithGithub()">
        <p></p>
        <i class="provider-icon github"></i>
        <p>GitHub</p>
      </button>

      <button type="button" class="social-btn" (click)="loginWithGoogle()">
        <p></p>
        <i class="provider-icon google"></i>
        <p>Google</p>
      </button>

      <button type="button" class="social-btn" (click)="loginWithFacebook()">
        <p></p>
        <i class="provider-icon facebook"></i>
        <p>Facebook</p>
      </button>

      <button type="button" class="social-btn" (click)="loginWithLinkedin()">
        <p></p>
        <i class="provider-icon linkedin"></i>
        <p>LinkedIn</p>
      </button>
    </div>



    <div class="form-actions">
      <button type="button" class="btn-cancel" (click)="close()">Anuluj</button>
    </div>
  </form>
</dialog>
