.social-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px; /* Musi być taka sama jak w konfiguracji Google API! */
  height: 40px;

  background-color: #ffffff;
  color: #3c4043;
  border: 1px solid #dadce0;
  border-radius: 4px;

  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;

  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;

  p {
    flex: 1;
    text-align: left;
    margin-left: 32px;
  }

  svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }

  /* Efekt najechania skopiowany z Google */
  &:hover {
    background-color: #f8f9fa;
    //box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  }
}
