$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$c1: #f79256;
$c2: #d6f6dd;
$c3: #507255;
$c4: #488b49;
$c5: #2274a5;

$text-color: darken($c3, 20%);
$border-color: lighten($c3, 40%);
$bg-color: #ffffff;

$text-dark: darken($c3, 25%);
$border-light: lighten($c3, 35%);
