@use "sass:color";

$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$c1: #f79256;
$c2: #d6f6dd;
$c3: #507255;
$c4: #488b49;
$c5: #2274a5;

$text-main: #333;
$text-muted: #666;
$text-light: #555;

$border-subtle: #ccc;

$text-color: color.adjust($c3, $lightness: -20%);

$bg-color: #ffffff;

$text-placeholder: color.adjust($c3, $lightness: 25%);

$border-light: color.adjust($c3, $lightness: 35%);
