<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a routerLink="/">Mój Kanban</a>
    </div>

    @if (authService.authorizationData()?.userDisplayName) {
      <span class="user-info">
        <i class="provider-icon small {{ authService.authorizationData()?.authProvider }}"></i>
        <span>{{ authService.authorizationData()?.userDisplayName }}</span>
      </span>
    }

    <nav>
      @if (authService.isLoggedIn()) {
        <button (click)="onLogoutClick()" class="btn-ghost" type="button">Wyloguj</button>
      } @else {
        <button (click)="loginModal.open()" class="btn-primary" type="button">Zaloguj</button>
      }
    </nav>
  </div>
</header>

<app-login-modal></app-login-modal>
