<dialog #modalElement class="visibility-modal">
<!--  <div class="modal-container">-->
<!--    @if (board(); as b) {-->
<!--      <h3>Zmień widoczność tablicy</h3>-->

<!--      <p class="modal-text">-->
<!--        @if (b.is_public) {-->
<!--          Ta tablica jest obecnie <strong>publiczna</strong>. Jeśli zmienisz ją na prywatną, tylko zalogowani i uprawnieni użytkownicy będą mieli do niej dostęp.-->
<!--        } @else {-->
<!--          Ta tablica jest obecnie <strong>prywatna</strong>. Jeśli zmienisz ją na publiczną, każdy posiadający link będzie mógł ją otworzyć i edytować zadania.-->
<!--        }-->
<!--      </p>-->

<!--      <div class="modal-actions">-->
<!--        <button type="button" class="btn-ghost" (click)="close()">Anuluj</button>-->
<!--        <button type="button" class="btn-primary" [disabled]="isLoading()" (click)="toggleVisibility()">-->
<!--          @if (isLoading()) {-->
<!--            Zapisywanie...-->
<!--          } @else {-->
<!--            {{ b.is_public ? 'Zmień na prywatną' : 'Zmień na publiczną' }}-->
<!--          }-->
<!--        </button>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
</dialog>
