<dialog #modalElement class="modal-dialog">
  <div class="modern-form">
    @if (board(); as b) {
      <div class="modal-header">
        <h3>Change board visibility</h3>
        <button class="close-btn" (click)="close()" type="button" title="Zamknij">&times;</button>
      </div>

      <div class="modal-body">
        <p class="modal-text">
          @if (b.isPublic) {
            This board is currently <strong class="highlight-public">public</strong>. If you make it private, only logged-in and authorized users will have access to it.
          } @else {
            This board is currently <strong class="highlight-private">private</strong>. If you make it public, anyone with the link will be able to open it and edit tasks.
          }
        </p>
      </div>

      <div class="form-actions">
        <button type="button" class="btn-cancel" (click)="close()">Cancel</button>
        <button
          type="button"
          class="btn-submit"
          [class.btn-warning]="b.isPublic"
          [disabled]="isLoading()"
          (click)="toggleVisibility()"
        >
          @if (isLoading()) {
            Zapisywanie...
          } @else {
            {{ b.isPublic ? 'Make private' : 'Make public' }}
          }
        </button>
      </div>
    }
  </div>
</dialog>

