@if (!authService.isLoggedIn() || this.boardListEmpty()) {
  <div class="hero-container">
    <div class="hero-content">
      @if (authService.isLoggedIn()) {
        <h1>Create your first task board</h1>
        } @else {
        <h1>Create anonymous public task board</h1>
      }
      <p class="hero-subtitle">Enter a name below and start working with Kanban instantly</p>

      <form (submit)="createBoard(); $event.preventDefault()" class="hero-form">
        <input
          type="text"
          [(ngModel)]="newBoardTitle"
          name="title"
          required
          placeholder="New board name..."
        />
        <button type="submit" class="btn-hero">Create board &rarr;</button>
      </form>
      @if (!authService.isLoggedIn()) {
        <div class="divider"><span>OR</span></div>
        <div>
          <h2>Sign in using one of the following methods to start creating private boards</h2>
        </div>
        <div class="social-login-container">
          <button type="button" class="social-btn" (click)="loginService.loginWithGithub()">
            <p></p>
            <i class="provider-icon github"></i>
            <p>GitHub</p>
          </button>

          <button type="button" class="social-btn" (click)="loginService.loginWithGoogle()">
            <p></p>
            <i class="provider-icon google"></i>
            <p>Google</p>
          </button>

          <button type="button" class="social-btn" (click)="loginService.loginWithFacebook()">
            <p></p>
            <i class="provider-icon facebook"></i>
            <p>Facebook</p>
          </button>

          <button type="button" class="social-btn" (click)="loginService.loginWithLinkedin()">
            <p></p>
            <i class="provider-icon linkedin"></i>
            <p>LinkedIn</p>
          </button>
        </div>
      }
    </div>
  </div>
} @else {
  <main class="main-content">
    <div class="component-header">
      <div class="header-left">
        <input type="text" class="search" placeholder="Filter boards..." [(ngModel)]="searchPhrase"/>
        <h2></h2>
      </div>
      <form (submit)="createBoard(); $event.preventDefault()" class="inline-board-form">
        <input
          type="text"
          [(ngModel)]="newBoardTitle"
          name="title"
          required
          placeholder="New board name..."
        />
        <button type="submit" class="btn-submit">Create board &rarr;</button>
      </form>
    </div>

    <section class="boards-list-section">
      <ul class="boards-list">
        @for (board of boardsFiltered(); track board.id) {
          <li class="taskboard-card-container card">
            <a class="taskboard-card-link" [routerLink]="['/board', board.id]">
              <h3>{{ board.name }}</h3>
            </a>
            <button class="btn-delete" (click)="deleteTaskBoard(board)" title="Delete board">&times;</button>
          </li>
        }
      </ul>
    </section>


  </main>
}
@if (taskBoardBeingDeleted(); as taskBoard) {
  <div class="snackbar-undo">
    <span>Board <strong>{{ taskBoard.name }}</strong> deleted.</span>
    <button class="btn-undo" (click)="onUndoDelete()">Undo</button>
  </div>
}
