<header class="navbar">
  <div class="navbar-container">
    <div class="logo">Mój Kanban</div>
    <div class="nav-actions">
      @if (authService.isLoggedIn()) {
        <button (click)="logout()" class="btn-ghost">Wyloguj</button>
      } @else {
        <button (click)="loginModal.open()" class="btn-primary">Zaloguj</button>
      }
    </div>
  </div>
</header>

<!-- Główna zawartość -->
<main class="main-content">
  <h2>Twoje Tablice</h2>
  <!-- Sekcja tworzenia -->
  <section class="board-form">
<!--    <h2>Utwórz nową tablicę</h2>-->
    <form (submit)="createBoard(); $event.preventDefault()" class="search-box">
      <input type="text" [(ngModel)]="newBoardTitle" name="title" required placeholder="Nazwa nowej tablicy">
      <button type="submit" class="btn-primary">Dodaj</button>
    </form>
  </section>

  <!-- Lista tablic -->
  @if (authService.isLoggedIn()) {
    <section class="boards-list-section">
<!--      <h2>Twoje tablice</h2>-->
      <ul class="boards-list">
        @for (board of boards(); track board.id) {
          <li>
            <a [routerLink]="['/board', board.id]">{{ board.name }}</a>
          </li>
        } @empty {
          <p>Nie masz jeszcze żadnych tablic.</p>
        }
      </ul>
    </section>
  }
</main>

<app-login-modal></app-login-modal>
