@if (!authService.isLoggedIn() || this.boardListEmpty()) {
  <div class="hero-container">
    <div class="hero-content">
      <h1>Stwórz swoją pierwszą tablicę</h1>
      <p class="hero-subtitle">Wpisz nazwę poniżej i natychmiast rozpocznij pracę z Kanbanem.</p>

      <form (submit)="createBoard(); $event.preventDefault()" class="hero-form">
        <input
          type="text"
          [(ngModel)]="newBoardTitle"
          name="title"
          required
          placeholder="Nazwa nowej tablicy..."
        />
        <button type="submit" class="btn-hero">Stwórz tablicę &rarr;</button>
      </form>
    </div>
  </div>
} @else {
  <main class="main-content">
    <div class="component-header">
      <h2>Twoje Tablice</h2>
      <form (submit)="createBoard(); $event.preventDefault()" class="inline-board-form">
        <input
          type="text"
          [(ngModel)]="newBoardTitle"
          name="title"
          required
          placeholder="Nazwa nowej tablicy..."
        />
        <button type="submit" class="btn-submit">Stwórz tablicę &rarr;</button>
      </form>
    </div>

    <section class="boards-list-section">
      <ul class="boards-list">
        @for (board of boards(); track board.id) {
          <li class="taskboard-card-container card">
            <a class="taskboard-card-link" [routerLink]="['/board', board.id]">
              <h3>{{ board.name }}</h3>
            </a>
            <button class="btn-delete" (click)="deleteTaskBoard(board)" title="Usuń tablicę">&times;</button>
          </li>
        }
      </ul>
    </section>


  </main>
}
@if (taskBoardBeingDeleted(); as taskBoard) {
  <div class="snackbar-undo">
    <span>Usunięto tablicę: <strong>{{ taskBoard.name }}</strong></span>
    <button class="btn-undo" (click)="onUndoDelete()">Cofnij</button>
  </div>
}
